body {
  margin-top: 60px;
}

button {
  border-radius: 5px;
  background: #1c5182;
  color: white;
  padding: 15px;
  border: none;
}

h2 {
  margin-top: 50px;
  margin-top: 25px;
}

.navigation {
  background: #4b8eb2;
  width: 100%;
  padding: 0 10%;
  position: fixed;
  top: 0;
}

.navigation__logo {
  width: 120px;
}

.navigation__logo a {
  color: white;
  text-decoration: none;
  font-size: 32px;
}

.navigation__logo img {
  max-width: 200px;
  max-height: 60px;
}

.navigation__links {
  display: flex;
  min-height: 60px;
  flex-direction: row;
}

.navigation__links ul {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  min-height: 60px;
  margin-bottom: 0;
}

.navigation__links ul a {
  color: white;
}

.module__headerInfo {
  background: #efd7c2;
  color: #1c5182;
  padding: 100px 0 25px;
}

.headerInfo__content__right img {
  width: 100%;
}

.module__headerInfo h2 {
  font-size: 55px;
}

.module__headerInfo p {
  font-size: 30px;
}

.headerInfo__content__button {
  width: 100%;
  padding: 50px 0;
}

.headerInfo__content__button button {
  margin: 0 auto;
  display: block;
  font-size: 30px;
}

.module__featuresList {
  background-color: #4b8eb2;
  padding: 50px 5%;
  color: white;
}

.module__featuresList h2 {
  font-size: 50px;
  text-align: center;
}

.module__featuresList h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.module__featuresList p {
  font-size: 22px;
}

.module__featuresList .featureList__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 0;
}

.module__featuresList .featuresList__promo {
  max-width: 250px;
  text-align: center;
}

.module__featuresList .featuresList__promo .featuresList__promo__img img {
  margin: 0 auto;
  display: block;
}

.module__pricing {
  background: #efd7c2;
  color: #1c5182;
  padding: 100px 0 25px;
}

.pricing__content__promo__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pricing__content__promo {
  width: 360px;
  background-color: #4b8eb2;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.pricing__content__promo ul{
    list-style: none;
    font-size: 24px;
    padding-inline-start: 0px;
}

.pricing__content__promo li{
    padding: 7px;
}

.pricing__content__promo .pricing__content__promo--pricing {
    font-size: 40px;
}

.pricing__content__promo .pricing__content__promo--header h3{
    padding-top: 10px;
    padding-bottom: 5px;
    width: 50%;
    font-size: 40px;
    display: block;
    margin: 10px auto;
    border-bottom: solid white 1px;
}

.module__pricing h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.module__pricing p {
  font-size: 40px;
}

.pricing__content__button {
  width: 100%;
  padding: 50px 0;
}

.pricing__content__button button {
  margin: 0 auto;
  display: block;
  font-size: 24px;
}

.freeTrial__form {
  margin: 20px;
  padding: 50px;
  background-color: #4b8eb2;
  border-radius: 5px;
}

.freeTrial__content {
  display: flex;
}

.freeTrial__form--signup {
  width: 70%;
}

.freeTrial__image {
  width: 29%;
}

.freeTrial__image img {
  width: 100%;
}

.module__featureVideo {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #4b8eb2;
  padding: 50px 5%;
}

.featureVideo__content {
  width: 80%;
  margin: 0 auto;
  display: block;
}
.featureVideo__video {
  margin: 0 auto;
  display: block;
  width: 100%;
}
